*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.title-box{
    width: 1226px;
    height: 300px;
    background-color: rgb(45, 65, 27);
    margin: auto;
    background-image: url(image/background.jpg);
    background-clip: border-box;
    background-size: 1226px;
}
.title-box-one {
    width: 100%;
    height: 50px;
    background-color: #ccc;
}
.sologan {
    width: 100%;
    height: 50px;
}
.sologan h6 {
    font-size: 8px;
    text-align: center;
    line-height: 50px;
}
.center{
    text-align: center;
}
.nav{
    width: 1226px;
    height: 50px;
    border-top: 2px solid rgb(30, 48, 16);
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}
.nav li{
    float: left;
    width: 25%;
}
.nav ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: rgb(30,48,16);
}
.nav ul li a:hover{
    color: #ccc;
    background-color: rgb(30,48,16,0.6);
}
.one-box{
    width: 1226px;
    height: 248px;
    /* background-color: #2CEAF5; */
    margin: auto;
}
.one-box-left{
    float: left;
    width: 234px;
    height: 234px;
    background-color: rgb(193,183,181,.5);
    margin: 0 0;
}
.one-box-right{
    float: right;
    width: 992px;
    height: 234px;
    margin-right: 0;
}
.one-box li {
    float: right;
    width: 234px;
    height: 234px;
    background-color: rgb(193,183,181,.5);
    margin-left: 14px;
    margin-bottom: 14px;
}
.one-box li{
    font-size: 900;
}
.two-box{
    width: 1226px;
    height: 300px;
    background-color: #2ceaf5;
    margin: auto;
}